@font-face {
    font-family: 'Avant Garde CE';
    src: url('../fonts/AGD.eot');
    src: url('../fonts/AGD.eot?#iefix') format('embedded-opentype'),
         url('../fonts/AGD.woff2') format('woff2'),
         url('../fonts/AGD.woff') format('woff'),
         url('../fonts/AGD.ttf')  format('truetype'),
         url('../fonts/AGD.svg#Avant Garde CE') format('svg');
}
@font-face {
    font-family: 'ITC Avant Garde Gothic Std';
    src: url('../fonts/ITCAvantGardeStd-Bold.eot');
    src: url('../fonts/ITCAvantGardeStd-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ITCAvantGardeStd-Bold.woff2') format('woff2'),
         url('../fonts/ITCAvantGardeStd-Bold.woff') format('woff'),
         url('../fonts/ITCAvantGardeStd-Bold.ttf')  format('truetype'),
         url('../fonts/ITCAvantGardeStd-Bold.svg#ITC Avant Garde Gothic Std') format('svg');
}
@font-face {
    font-family: 'AvantGarde';
    src: url('../fonts/AvantGardeBook.eot');
    src: url('../fonts/AvantGardeBook.eot?#iefix') format('embedded-opentype'),
         url('../fonts/AvantGardeBook.woff2') format('woff2'),
         url('../fonts/AvantGardeBook.woff') format('woff'),
         url('../fonts/AvantGardeBook.ttf')  format('truetype'),
         url('../fonts/AvantGardeBook.svg#AvantGarde') format('svg');
}